<section id="connect-plugin" class="widget widget_search">
    <form method="post" action="" id="form-connect" class="bs-example bs-example-form">
        <input type="hidden" value="weather" name="action">
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group"> 
                    <input class="form-control" name="city" placeholder="Enter city name for know currently temperature"> 
                    <span class="input-group-btn"> 
                        <button class="btn btn-default" type="submit">Search</button> 
                    </span> 
                </div>
            </div>
        </div>

        <div id="connect-return" class="row">
        </div>

    </form>
</section>